<div class="container">
  <div class="row">
    <% @tasks.each_slice(3) do |row| %>


      <% row.each do |task| %>


        <div class="col">
          <div class="card">

            <%= image_tag task.picture, class: 'card-img-top' %>

            <div class="body">

              <h5> <%= task.name %> </h5>
              <p> <%= task.description %> </p>
              <% if  task.users.include?(current_user) %>
                <button type="button" class="btn btn-outline-warning">Enjoyado! </button>

                <%#= link_to "Enjoyado", task_user_tasks_path(task) , class: 'btn btn-success', method: :post %>
                <%#= link_to 'Destroy', task_user_task_path(), method: :DELETE, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
                <%= link_to "Borrar", task_user_task_path(task), method: :delete, data: { confirm: '¿Estás Seguro?' } %>

              <% else %>

                <%= link_to "NO Enjoyado", task_user_tasks_path(task) , class: 'btn btn-success', method: :post %>

              <% end %>



            </div>

          </div>

        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px"></div>
    <% end %>
  </div>
</div>
