<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %>">Enjoyados</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">



        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        </div>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% unless user_signed_in? %>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"><%=link_to "Sign In", new_user_session_path %>  </button>
        <button class="btn btn-outline-primary" type="button" style="margin:10px"><%=link_to "REGISTER", new_user_registration_path %>  </button>

      <% else %>
        <button class="btn btn-outline-success my-2 my-sm-0" type="button"> <%= link_to "Edit", edit_user_registration_path  %></button>
        <button class="btn btn-danger btn-outline-danger my-2 my-sm-0" type="button" style="margin:10px"><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></button>


      <% end %>
    </form>
  </div>
</nav>
